---
IndentWidth: 4
SortIncludes: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
BraceWrapping:
  AfterFunction:   false
BreakBeforeBraces: Attach
ColumnLimit: 9999
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeComma
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: Align
UseTab: Never
...
